<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.Ejs') %>
<body>
    <!--Nav Bars-->
    <%- include('./partials/nav.Ejs') %>

    <div class="not-found content">
        <h1>404 Page!</h1>
        <p>Page Not Found</p>
        <p>We're sorry, the page you requested could not be found. Please go back to the homepage or contact us at support@start.me</p>
    </div>
    
    <!--FOOTER EJS-->
    <%- include('./partials/footer.Ejs') %>
</body>
</html>