<!DOCTYPE html>
<html lang="en">
    <!--HEADER EJS-->
    <%- include('./partials/head.Ejs') %>
<body>
    <!--Nav Bars-->
    <%- include('./partials/nav.Ejs') %>

    <div class="about content">
        <h2>Hi Everyone!</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis reprehenderit nam magni velit optio, hic impedit a eaque maiores quod fuga quas dolor. Vel ullam nesciunt non, esse quibusdam voluptate.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam soluta minima, cumque ipsum aliquid harum labore pariatur et ducimus? Odit ullam non velit, est temporibus consequuntur aspernatur exercitationem. Asperiores, enim.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aliquam, nesciunt, ducimus numquam voluptates, adipisci cupiditate rem a eos neque sint odit itaque sit nostrum molestias quod obcaecati velit voluptate!</p>
    </div>
    

    <!--FOOTER EJS-->
    <%- include('./partials/footer.Ejs') %>
    <a href="/" class="backbutton">Go Back</a>
</body>
</html>